<!DOCTYPE html>
<html>

<head>
	<title>Article</title>
	{{template "head.html" .}}
	<style type=text/css>
		.reply-box .reply-box {
			margin-left: 20px;
		}
	</style>
</head>
<body>

{{template "header.html" .}}
<div id="wrap">
	<div class="container">
		<div class="col-sm-1"></div>
		<div class="col-sm-8">
			<h3>{{.article.Title}}</h3>
			<span><a href="{{.article.Author.Id}}">{{.article.Author.Nick}}</a></span>
			<span>{{.article.Time}}</span>
					<span>
            {{if $.user}}
                  {{if eq .article.Author.Id $.user.Id}}
               <span class="pull-right">
                   <a href="/article/edit/{{.article.Id}}">编辑</a>
               </span> {{end}} {{end}}
					</span>
			<!--<pre>{{.article.Title}}</pre>-->
			<hr>
			<div class="content">
				{{.article.Content}}
			</div>

			<div>
				<h2>评论</h2>
				<div>
					{{define "replybox"}} {{range $idx,$reply:=.}}
					<div class="reply-box">
						<p>
							<a href="/user/{{.Author.Id}}">{{.Author.Nick}}</a> {{.Time}}
									<span class="pull-right">
                            <a href="javascript:;"
							   data-user="{{.Author.Nick}}"
							   data-reply="{{.Id}}">回复</a>
                        </span>
						</p>
						<pre>{{.Reply.Content}}</pre>
						<hr> {{if .Childs}} {{template "replybox" .Childs}} {{end}}
					</div>
					{{end}} {{end}}
				</div>

				{{template "replybox" .replyTree}}

			</div>

			<div>
				<form action="/reply/new" method="post">
					<textarea  name="content" class="form-control" placeholder="你可以评论哦！"></textarea>
					<input type="hidden" name="article_id" value="{{.article.Id}}">
					<input type="hidden" name="parent_id">
					<input 	type="submit" class="btn btn-default">
				</form>
			</div>

		</div>
		<div class="col-sm-2">
			<h4>本文标签</h4> {{range .article.Tags}}
			<a href="/archive?tag={{.Name}}" class="btn btn-{{.RandColor}} btn-xs">{{.Name}}</a> {{end}}
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>

<script type="text/javascript">
	//	var te=$('#content').html().replace(/&lt;/g,'<');
	//	$('#content').html(te.replace(/&gt;/g,'>'))

	console.log($(".content").text())

	$(".content").html($(".content").text())
	function bindParent(id, nick) {
		$("[name=parent_id]").val(id);
		$("[name=content]").val('@' + nick + '  ').focus;
	}
	$('a[data-reply]').click(function() {
		bindParent($(this).attr('data-reply'), $(this).attr('data-user'));
	});

</script>

</body>

</html>