<!DOCTYPE html>
<html>
<head>
    <title>New</title>
    {{template "head.html" .}}
</head>
<body>

{{template "header.html" .}}

<div id="wrap">
    <div  class="container">
        <div class="col-sm-10">
            <form method="post">
                <input name="title" class="form-control"
                       value={{.article.Title}}
                >
                <ul class="nav nav-pills" style="clear:none;">
                    <li class="edit active" onclick="edit()"><a>编辑</a></li>
                    <li class="show" onclick="compile()"><a>预览</a></li>
                </ul>
                <div class="form-group">
                    <div id="div_edit">
                        <textarea  id="content" name="content" class="form-control"   onkeyup="getContent()" style="height:500px;" >{{.article.Content}}</textarea>
                    </div>
                    <div id="div_preview" class="form-control" rows="20" style="display: none;overflow: hidden ;height: auto;min-height: 500px"></div>
                </div>

                <br>
                <input name="tag" class="form-control" placeholder="标签（以逗号隔开）"
                       value="{{range $idx,$val:=.article.Tags}}{{if $idx}},{{end}}{{.Name}}{{end}}">
                <br>
                <input class="btn btn-success" type="submit" value="提交">
                <div class="pull-right">
                    <a href="/markdown" target="_blank">
                        <i class="fa fa-tip">
                        </i>排版说明
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getContent() {
        var content=$('#content').text();
        $('#content').text(content)
    }

    function edit(){
        $(".show").removeClass("active");
        $(".edit").addClass("active");
        $("#div_edit").show();
        $("#div_preview").hide();
    }
    function compile () {
        $(".edit").removeClass("active");
        $(".show").addClass("active");

        var text=$('#content').val();
        var html= markDowmToThml(text)

        $("#div_edit").hide();
        $("#div_preview").show().html(html);

        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
        $('table').addClass('table table-bordered')

    }
    $('form').bind('submit', function(){

        var tmp = ajaxSubmit(this, function(data){
            console.log(data);
            if ( tmp.responseJSON.success == true ){
                alert("修改成功")
                location.href='/article/{{.article.Id}}'
            }else{
                alert(tmp.responseJSON.content)
            }
        })
        return false;
    })
</script>

</body>
</html>



 